@{
    ViewData["Title"] = "About";
}
<style>
    #members {
        margin-top: 30px;
        margin-bottom: 50px;
    }
</style>

<h1>Members</h1>
<div id="members">
    <h4>Anthony Campanaro</h4>
    <h4>John Fleming</h4>
    <h4>Nick Hall</h4>
    <h4>Thomas Miele</h4>
    <h4>Stephen Turner</h4>
</div>
<div id="github">
    <p>Find the Github repository below.</p>
    <a class="btn btn-default" href = 'https://github.com/NicholasTHall/cmpsc488CapstoneProjectGroupBirdDog' target="_blank">GitHub</a>
</div>
