@{
    ViewData["Title"] = "About";
}
<style>
    #members{
        margin-bottom: 50px;
    }
</style>

<div id="members">
    <h1>Members</h1>
    <h4>Anthony Campanaro</h4>
    <h4>John Fleming</h4>
    <h4>Nick Hall</h4>
    <h4>Thomas Miele</h4>
    <h4>Stephen Turner</h4>
</div>
<div id="github">
    <p>Find the Github repository below.</p>
    <button onclick="window.location.href = 'https://github.com/NicholasTHall/cmpsc488CapstoneProjectGroupBirdDog';">GitHub</button>
</div>
