
@{
    ViewData["Title"] = "Doc";
}
<div>
    <h2>Documentation</h2>
    <div id="P1">
        <h3>Phase 1</h3>
        <ul>
            <li>
                <a href="~/docs/Phase1/Domain Model.jpg">Domain Model</a>
            </li>
            <li>
                <a href="~/docs/Phase1/High Level Requirements .pdf">High Level Requirements</a>
            </li>
            <li>
                <a href="~/docs/Phase1/Project Glossary.pdf">Project Glossary</a>
            </li>
            <li>
                <a href="~/docs/Phase1/Edit_Add Route Use Case.pdf">Add/Edit Route Use Case</a>
            </li>
            <li>
                <a href="~/docs/Phase1/Inspect Route Use Case.pdf">Inspect Route Use Case</a>
            </li>
            <li>
                <a href="~/docs/Phase1/Ordering Website Use Case.pdf">Ordering Website Use Case</a>
            </li>
            <li>
                <a href="~/docs/Phase1/Picking App Use Case.pdf">Picking App Use Case</a>
            </li>
            <li>
                <a href="~/docs/Phase1/Stocking App Use Case.pdf">Stocking App Use Case</a>
            </li>
        </ul>
    </div>
    <div id="P2">
        <h3>Phase 2</h3>
        <ul>
            <li>
                <a href="~/docs/Phase2/Static Class Diagram.pdf">Static Class Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Technical Architecture.pdf">Technical Architecture</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Robust Diagram Add Edit.pdf">Add Edit Robustness Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Add Edit Sequence Diagram.pdf">Add Edit Sequence Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Inspect Route Robust Diagram(PDF).pdf">Inspect Route Robustness Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Inspect Route Sequence Diagram(PDF).pdf">Inspect Route Sequence Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Robustness Diagram PDF.pdf">Ordering Website Robustness Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Sequence Diagram.pdf">Ordering Website Sequence Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Picking App Robustness Diagram.pdf">Picking App Robustness Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Picking App Sequence Diagram.pdf">Picking App Sequence Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Stocking App Robustness.pdf">Stocking App Robustness Diagram</a>
            </li>
            <li>
                <a href="~/docs/Phase2/Stocking App Sequence Diagram.pdf">Stocking App Sequence Diagram</a>
            </li>
        </ul>
    </div>
    <div id="P3">
        <h3>Phase 3</h3>
        <ul>
            <li>
                <a href="~/docs/Phase3/Gantt Chart.pdf">Gantt Chart</a>
            </li>
            <li>
                <a href="~/docs/Phase3/Table.pdf">Table</a>
            </li>
        </ul>
    </div>
</div>
