
@{
    ViewData["Title"] = "Download";
}
<div id="Web">
    <h2>Website Link</h2>
    <button onclick="window.location.href = 'https://www.google.com';">Website</button>
    <br/>
    <p>Visit the website and get started.</p>
</div>
<div id="Desktop">
    <h2>Desktop Application</h2>
    <button onclick="window.location.href = '/exes/WarehouseMaster.exe';">Download</button>
    <br />
    <p>Download and run Application.</p>
</div>
<div id="Android">
    <h2>Android Application</h2>
    <button onclick="window.location.href = 'https://play.google.com/store/apps/details?id=com.google.android.youtube';">Download</button>
    <br />
    <p>Open page on an android device and click install.</p>
</div>


