
@{
    ViewData["Title"] = "Download";
}
<style>
    p{
        margin-top: 10px;
    }
    h3{
        margin-bottom: 25px;
    }
</style>
<h1>Downloads</h1>
<div id="Web">
    <h3>Ordering Website Link</h3>
    <a class="btn btn-default" href = 'https://www.google.com' target="_blank">Visit Website</a>
    <p>Visit the website and get started.</p>
</div>
<div id="Desktop">
    <h3>Desktop Application</h3>
    <a class="btn btn-default" href = '/exes/WarehouseMaster.exe' target="_blank">Download</a>
    <p>Download and run Application.</p>
</div>
<div id="Android">
    <h3>Android Application</h3>
    <a class="btn btn-default" href = 'https://play.google.com/store/apps/details?id=com.google.android.youtube' target="_blank">Download</a>
    <p>Open page on an android device and click install.</p>
</div>


