@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div>
    <button id="btnQuery" title="Query" name="btnQuery" onclick="query">Query</button>
    <textarea id="txtQueryResult" title="QueryResult" name="txtQueryResult"></textarea>
    <script>
        function query() {
            document.getElementById("txtQueryResult").textContent = db.query("SELECT * FROM PRODUCTS");
        }
    </script>
</div>
