@model IEnumerable<WebTest.Models.AccountOrder>

@{
    ViewData["Title"] = "AccountOrderHistory";
}

<h2>Order History</h2>

<p>
    <a asp-action="AddToCart">Add to Cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complete)
            </td>
            <td>                
                <a asp-action="OrderItemsAsync" asp-route-id="@item.order_num">Details</a>                
            </td>
        </tr>
}
    </tbody>
</table>
