@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    777 W Harrisburg Pike<br />
    Middletown, PA, 17057<br />
    <abbr title="PhoneNumber">Phone#:</abbr>
    XXX.XXX.XXXX
</address>
