@model WebTest.Models.OrderItem

@{
    ViewData["Title"] = "CreateOrder2";
}

<h2>CreateOrder2</h2>

<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="order_num" class="control-label"></label>
                <input asp-for="order_num" class="form-control" />
                <span asp-validation-for="order_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prod_id" class="control-label"></label>
                <input asp-for="prod_id" class="form-control" />
                <span asp-validation-for="prod_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
