@model IEnumerable<WebTest.Models.OrderItem>

@{
    ViewData["Title"] = "OrderItems";
}

<h2>OrderItems</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Product Id
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="IndexAsync">Back to Products</a>
</div>
